@import "variables";

$color-blossom: $swift-orange;
$color-fade: #006994;

$color-bg: #222222;
$color-bg-alt: #333333;

$color-text: #f0f0f0;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

@import "main";
